@model Coursera.Areas.Instructor.Models.MyProfileModel

<h1>List of Profile</h1>

@* @foreach(var profile in Model) *@
@* { *@
    <p>Username: @Model.UserName</p>
    <p>Email: @Model.Email</p>
    <p>Photo: @Model.Photo</p>
    <p>Subject: @Model.Subject</p>
    <p>UserId: @Model.UserId</p>
    <p>Website: @Model.Website</p>
    <p>Twitter: @Model.Twitter</p>
     <p>Facebook: @Model.Facebook</p>
    <p>LinkedIn: @Model.LinkedIn</p>
    <p>Instagram: @Model.Instagram</p>
@* } *@

