@model Coursera.Areas.Instructor.Models.MyProfileModel

<div class="row flex justify-content-center align-items-center">
    <!-- Display headings -->
    <div class="col-md" style="display:flex;justify-content:start;align-items:start;margin-top:10px">
        <div class="col-md-8" style="display:flex;justify-content:center;align-items:start;margin-top:10px">
        <div class="card mb-4">
            <h5 class="card-header">Profile Details</h5>
            <table class="table table-borderless">
                <tbody>
                  
                    <tr>
                        <td class="align-middle"><small class="text-light fw-semibold">Username:</small></td>
                        <td class="py-3">
                            <h1 class="display-6 mb-0">@Model.UserName</h1>
                        </td>
                    </tr>
                    <tr>
                        <td class="align-middle"><small class="text-light fw-semibold">UserRole:</small></td>
                        <td class="py-3">
                            <h1 class="display-6 mb-0">@Model.RoleName</h1>
                        </td>
                    </tr>
                    <tr>
                        <td class="align-middle"><small class="text-light fw-semibold">Email:</small></td>
                        <td class="py-3">
                            <h1 class="display-6 mb-0">@Model.Email</h1>
                        </td>
                    </tr>
                    <tr>
                        <td class="align-middle"><small class="text-light fw-semibold">Subject:</small></td>
                        <td class="py-3">
                            <h1 class="display-6 mb-0">@Model.Subject</h1>
                        </td>
                    </tr>
                    <tr>
                        <td class="align-middle"><small class="text-light fw-semibold">Website:</small></td>
                        <td class="py-3">
                            <h1 class="display-6 mb-0">@Model.Website</h1>
                        </td>
                    </tr>
                    <tr>
                        <td class="align-middle"><small class="text-light fw-semibold">Twitter:</small></td>
                        <td class="py-3">
                            <h1 class="display-6 mb-0">@Model.Twitter</h1>
                        </td>
                    </tr>
                    <tr>
                        <td class="align-middle"><small class="text-light fw-semibold">Facebook:</small></td>
                        <td class="py-3">
                            <h1 class="display-6 mb-0">@Model.Facebook</h1>
                        </td>
                    </tr>
                    <tr>
                        <td class="align-middle"><small class="text-light fw-semibold">Instagram:</small></td>
                        <td class="py-3">
                            <h1 class="display-6 mb-0">@Model.Instagram</h1>
                        </td>
                    </tr>
                    <tr>
                        <td class="align-middle"><small class="text-light fw-semibold">LinkedIn:</small></td>
                        <td class="py-3">
                            <h1 class="display-6 mb-0">@Model.LinkedIn</h1>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div style="padding:20px">
                    <form>
                        <button type="submit" formaction="@Url.Action("UpdateProfile", "Profile", new { area= "Instructor"})" class="btn btn-primary me-2">Edit</button>
                    </form>
            </div>
                
                
        </div>
        
    </div>
</div>
</div>
    

