@model Coursera.Areas.Instructor.Models.MyProfileModel

<h1>List of Profile</h1>

@* @foreach(var profile in Model) *@
@* { *@

    <form action="/" method="get">
    <img src="~/assets2/img/Profile/Instructor/5.png"
         alt="user-avatar"
         class="d-block rounded"
         height="100"
         width="100"
         id="uploadedAvatar" />
    <p>Username: @Model.UserName</p>
    <p>UserRole: @Model.RoleName</p>
    <p>Email: @Model.Email</p>
    <p>Photo: @Model.Photo</p>
    <p>Subject: @Model.Subject</p>
    <p>UserId: @Model.UserId</p>
    <p>Website: @Model.Website</p>
    <p>Twitter: @Model.Twitter</p>
    <p>Facebook: @Model.Facebook</p>
    <p>LinkedIn: @Model.LinkedIn</p>
    <p>Instagram: @Model.Instagram</p>
    <button 
        type="submit"
        formaction="@Url.Action("UpdateProfile","Profile")">
        Edit
    </button>
    
    </form>

    
@* } *@

