@model List<Coursera.Models.CourseLesson>;

<h4>Lessons</h4>
<table class="table">
    <thead>
        <tr>
            <th>Course Lesson Name</th>
            <th>Content Url</th>
            <th>Content Type</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var lessons in Model)
        {
            <tr>
                <td>@lessons.CourseLessonName</td>
                <td>@lessons.ContentUrl</td>
                <td>@lessons.ContentType</td>
                <td>
                    @* <button class="btn btn-primary view-lessons" data-id="@sections.Id">View Lessons</button> *@
                    <button class="btn btn-secondary edit-lesson" data-id="@lessons.Id">Edit</button>
                </td>
            </tr>
        }
    </tbody>
</table>


<script>
    $(document).ready(function(){
        $(document).on("click",".edit-lesson",function(){
          const LessonId=  $(this).data('id');
          $.get(`/Instructor/Course/GetLessonEdit?LessonId=${LessonId}`,function(html){
            $("#modalContainer").html(html);
            $('#editLessonModal').modal('show');
          });
        });

        $(document).on("submit","#editLessonForm",function(e){
            e.preventDefault();
          const formData= $(this).serialize();
          console.log(formData);
          $.post(`/Instructor/Course/UpdateLesson`,formData)
          .done(function(response){
            alert(response);
            location.reload();
          })
          .fail(function(xhr){
            alert(xhr.responseText);
          });
        });


    });
</script>